___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [22]:
import pandas as pd
import numpy as np
# ri = pd.read_csv("cleaned_data_after1", nrows=50000)
# # drop_columns=["state", "county_name", "county_fips", "fine_grained_location"]
# # ri.drop(drop_columns, axis='columns', inplace=True)
# # ri.dropna(subset=['driver_gender'], inplace=True)
# # ri['is_arrested'] = ri.is_arrested.astype('bool')
# # combined = ri.stop_date.str.cat(ri.stop_time, sep=' ')
# # ri['stop_datetime'] = pd.to_datetime(combined)
# # ri.drop(["stop_date", "stop_time"], axis='columns', inplace=True)
# # ri.set_index('stop_datetime', inplace=True)

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [30]:
ri = pd.read_csv('cleaned_data.csv')

/Users/ruslanhuseynov/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [31]:
ri.head(2)

,Unnamed: 0,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

***

In [25]:
ri.violation.value_counts(dropna = False)

Speeding               36112
Moving violation        6522
Equipment               3022
NaN                     1988
Registration/plates     1463
Other                    893
Name: violation, dtype: int64

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [26]:
ri.driver_gender.value_counts()

M    34701
F    13309
Name: driver_gender, dtype: int64

In [32]:
female = ri[ri.driver_gender == "F"]

In [28]:
female.head(2)

,Unnamed: 0,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
15,15,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,NaN,NaN,NaN,200,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
18,18,RI-2005-00019,RI,2005-03-14,10:00,Zone K3,NaN,NaN,NaN,300,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [33]:
male = ri[ri.driver_gender == "M"]

In [35]:
male.head(2)

,Unnamed: 0,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [36]:
male.violation.value_counts(normalize=True)

Speeding               0.729518
Moving violation       0.149967
Equipment              0.069595
Registration/plates    0.031584
Other                  0.019337
Name: violation, dtype: float64

In [37]:
female.violation.value_counts(normalize=True)

Speeding               0.811180
Moving violation       0.099031
Equipment              0.045608
Registration/plates    0.027575
Other                  0.016605
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [38]:
female_and_speeding = ri[(ri.driver_gender == "F") & (ri.violation == "Speeding")]

In [39]:
female_and_speeding

,Unnamed: 0,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
15,15,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,NaN,NaN,NaN,200,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
18,18,RI-2005-00019,RI,2005-03-14,10:00,Zone K3,NaN,NaN,NaN,300,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
25,25,RI-2005-00026,RI,2005-03-29,23:20,Zone K3,NaN,NaN,NaN,300,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
34,34,RI-2005-00035,RI,2005-06-06,13:20,Zone X4,NaN,NaN,NaN,500,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
37,37,RI-2005-00038,RI,2005-07-06,11:22,Zone X1,NaN,NaN,NaN,0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49989,49989,RI-2006-35911,RI,2006-08-08,22:20,Zone K3,NaN,NaN,NaN,300,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
49991,49991,RI-2006-35913,RI,2006-08-08,22:25,Zone K3,NaN,NaN,NaN,300,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
49994,49994,RI-2006-35916,RI,2006-08-08,22:45,Zone K1,NaN,NaN,NaN,600,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K1
49996,49996,RI-2006-35918,RI,2006-08-08,22:45,Zone K3,NaN,NaN,NaN,300,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
49998,49998,RI-2006-35920,RI,2006-08-08,23:00,Zone K1,NaN,NaN,NaN,600,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

***

In [46]:
male_and_speeding = ri[(ri.driver_gender == "M") & (ri.violation == "Speeding")]

In [47]:
female_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.957298
Arrest Driver       0.026230
Warning             0.010666
N/D                 0.003397
Arrest Passenger    0.002015
No Action           0.000395
Name: stop_outcome, dtype: float64

In [49]:
male_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.957298
Arrest Driver       0.026230
Warning             0.010666
N/D                 0.003397
Arrest Passenger    0.002015
No Action           0.000395
Name: stop_outcome, dtype: float64

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [50]:
ri.search_conducted.dtype

dtype('bool')

In [51]:
ri.search_conducted.value_counts(normalize=True)

False    0.95976
True     0.04024
Name: search_conducted, dtype: float64

In [52]:
ri.search_conducted.mean()

0.04024

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [53]:
female.search_conducted.mean()

0.017807498685100308

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [54]:
male.search_conducted.mean()

0.05115126365234431

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [55]:
ri.driver_gender.unique()

array(['M', nan, 'F'], dtype=object)

In [56]:
ri.groupby("driver_gender").search_conducted.mean()

driver_gender
F    0.017807
M    0.051151
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [57]:
ri.violation.unique()

array(['Speeding', nan, 'Equipment', 'Other', 'Moving violation',
       'Registration/plates'], dtype=object)

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [58]:
ri.groupby(["driver_gender", "violation"]).search_conducted.mean()

driver_gender  violation
F              Equipment              0.079077
               Moving violation       0.047800
               Other                  0.045249
               Registration/plates    0.114441
               Speeding               0.006854
M              Equipment              0.123395
               Moving violation       0.088778
               Other                  0.154993
               Registration/plates    0.171533
               Speeding               0.028560
Name: search_conducted, dtype: float64

In [62]:
ri.groupby(['violation',"driver_gender"]).search_conducted.mean()

violation            driver_gender
Equipment            F                0.079077
                     M                0.123395
Moving violation     F                0.047800
                     M                0.088778
Other                F                0.045249
                     M                0.154993
Registration/plates  F                0.114441
                     M                0.171533
Speeding             F                0.006854
                     M                0.028560
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [63]:
ri.search_type.value_counts()

Incident to Arrest                                          958
Probable Cause                                              244
Protective Frisk                                            204
Inventory                                                   117
Incident to Arrest,Inventory                                116
Incident to Arrest,Probable Cause                            76
Incident to Arrest,Protective Frisk                          63
Reasonable Suspicion                                         43
Probable Cause,Protective Frisk                              36
Incident to Arrest,Inventory,Protective Frisk                33
Inventory,Protective Frisk                                   23
Incident to Arrest,Probable Cause,Protective Frisk           20
Incident to Arrest,Inventory,Probable Cause                  19
Protective Frisk,Reasonable Suspicion                        16
Inventory,Probable Cause                                     16
Probable Cause,Reasonable Suspicion                          12
Probable Cause,Protective Frisk,Reasonable Suspicion          5
Incident to Arrest,Reasonable Suspicion                       5
Inventory,Probable Cause,Protective Frisk                     2
Inventory,Reasonable Suspicion                                1
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Incident to Arrest,Inventory,Reasonable Suspicion             1
Name: search_type, dtype: int64

In [64]:
ri[ri.search_type == "Protective Frisk"].head(2)

,Unnamed: 0,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
1026,1026,RI-2005-01027,RI,2005-10-06,21:35,Zone X4,NaN,NaN,NaN,500,...,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4
1120,1120,RI-2005-01121,RI,2005-10-07,11:33,Zone X4,NaN,NaN,NaN,900,...,True,Terry Frisk,Protective Frisk,False,Arrest Driver,True,16-30 Min,False,False,Zone X4

In [65]:
ri["frisk"] = ri.search_type.str.contains("Protective Frisk", na = False)

In [66]:
ri.frisk.value_counts()

False    49597
True       403
Name: frisk, dtype: int64

In [67]:
ri.search_type.isin(["Protective Frisk"]).sum()

204

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [68]:
ri.search_conducted

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Name: search_conducted, Length: 50000, dtype: bool

In [69]:
searched = ri[ri.search_conducted]

In [71]:
searched.head()

,Unnamed: 0,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
9,9,RI-2005-00010,RI,2005-01-24,20:32,Zone K1,NaN,NaN,NaN,600,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
10,10,RI-2005-00011,RI,2005-02-09,03:05,Zone X4,NaN,NaN,NaN,500,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,True
83,83,RI-2005-00084,RI,2005-08-28,01:00,Zone X1,NaN,NaN,NaN,0,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,True
93,93,RI-2005-00094,RI,2005-09-15,02:20,Zone X4,NaN,NaN,NaN,500,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False
114,114,RI-2005-00115,RI,2005-09-24,02:20,Zone K3,NaN,NaN,NaN,300,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone K3,False

In [72]:
searched.frisk.mean()

0.20029821073558648

In [73]:
searched.groupby("driver_gender").frisk.mean()

driver_gender
F    0.164557
M    0.205070
Name: frisk, dtype: float64